@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
    .top-navbar {
        display: inline-flex !important;
    }
}

.dotted-line1{
    transform: rotate(50deg);
}
.dotted-line2{
    transform: rotate(230deg);
}


